<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Grant Bellotti - About</title>
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/index.css">
  <link rel="stylesheet" href="../css/about.css">
  <style>img[alt="www.000webhost.com"]{display: none;}</style>
  <link rel="shortcut icon" href="favicon.webp">
</head>

<body> 

  <!-- burger menue -->
  <nav class="burger-menu">
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="/about">About Me</a></li>
      <li><a href="https://drive.google.com/file/d/1xzaUc-eo7QS17YYlX82WIuA7m3hwvx8e/view?usp=sharing">Resume</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </nav>
  
  <!-- Header section -->
  <header class="header-main">
    <div class="header-main-logo"></div>
    <nav class="header-main-nav">
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/about">About Me</a></li>
        <li><a href="https://drive.google.com/file/d/1xzaUc-eo7QS17YYlX82WIuA7m3hwvx8e/view?usp=sharing">Resume</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>
    <div class="header-main-sm">
      <a target="_blank" href="https://github.com/Grant-Bellotti"><div class="header-main-sm-gh"></div></a>
      <a target="_blank" href="https://www.instagram.com/grant.bellotti/"><div class="header-main-sm-in"></div></a>
      <a target="_blank" href="https://www.linkedin.com/in/grant-bellotti-b9290a238/"><div class="header-main-sm-ln"></div></a>
      <div class="burger-menu-btn"></div>
    </div> 
  </header>

  <!-- Masthead Section -->
  <section class='masthead'>
    <div class="masthead-img"></div>
    <p class='masthead-intro'>Hi I'm</p>
    <p class='masthead-heading'>Grant!</p>
  </section>
 
  <!-- About Me Section -->
  <section class="wrapper-main about-me-section">
    <h1>Introduction</h1>
    <p>
      Hello! I'm Grant Bellotti, and I'm on a journey to become a software engineer. Currently, I'm pursuing my passion for technology at the University of California, Santa Cruz, where I'm majoring in Computer Science. My love for coding and my fascination with the natural world have shaped both my academic pursuits and my personal interests, creating a unique blend of passions that drive me forward. In this ever evolving field, I find inspiration in the harmony between code and hardware, and I am excited to explore the endless possibilities that software engineering offers.
      <br><br>
      Beyond the world of code, I harbor a deep love for the outdoors. In fact, one of my life goals is to visit every national park in the United States. The idea of experiencing the breathtaking landscapes and unique ecosystems that our country has to offer is a dream that fuels my adventurous spirit. Through my journey as a software engineer, I hope to find ways to merge my two great passions, coding and nature, to contribute positively to the world while fulfilling this ambitious travel goal.
      <br><br>
      Additionally, I have a rich history in the field of Computer Science. I have spent countless hours honing my programming skills and delving into various aspects of software development. I approach coding with a meticulous and cautious mindset, recognizing the importance of writing clean, efficient, and secure code. I understand that even a single line of code can have a significant impact, and I am committed to producing high-quality software that not only functions well but also adheres to industry best practices.
      <br><br>
      Moreover, I place a strong emphasis on staying active and healthy. I believe that a sound mind and body are essential for success in any field, including computer science. Regular exercise, mindfulness, and a balanced lifestyle are key elements in my routine. As I strive to excel in my studies and career, I am dedicated to maintaining my physical and mental well being, recognizing the invaluable connection between a healthy lifestyle and a successful, fulfilling life. 
      <br><br>
      Join me as I embark on this exhilarating journey where the world of code, the beauty of nature, a history of dedication to Computer Science, and a commitment to a healthy lifestyle converge into a path of endless possibilities and personal growth.
    </p>
  </section>

   <!-- Image Section -->
  <section class="about-me-images">
    <p>My Favorite Pictures</p>
    <div class="img-box">
      <p>Lake Tahoe</p>
    </div>
    <div class="img-box">
      <p>Niagra Falls</p>
    </div>
    <div class="img-box">
      <p>Florida Keys</p>
    </div> 
  </section>

  <!-- Footer section -->
  <footer class="footer-main" id="contact">
    <div class="wrapper-main footer-main-flex">
      <div class="footer-sitemap">
          <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/about">About Me</a></li>
            <li><a href="mailto:gbelloti725@gmail.com">Contact</a></li>
          </ul>
          <ul>
            <li><a href="https://docs.google.com/spreadsheets/d/1x-oeLMpLV9vecn_YdjvSCYdFFCPtnVHnDMDcXKzDdIg/edit?usp=sharing">Class Plan</a></li>
            <li><a href="https://drive.google.com/file/d/1xzaUc-eo7QS17YYlX82WIuA7m3hwvx8e/view?usp=sharing">Resume</a></li>
            <li><a href="https://github.com/Grant-Bellotti?tab=repositories">Projects</a></li>
          </ul>
          <ul>
            <li>
              <p>If you're interested, please don't hesitate to send me an e-mail or call me to arrange a meeting!</p>
            </li>
          </ul>
          <ul>
            <li><p>Get In Touch:</p></li>
            <li><p>gbelloti725@gmail.com</p></li>
          </ul>
      </div>
    </div>
  </footer>
 
  <script src="../js/burger.js"></script>

</body> 
</html>
