<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/index.css">
  <link rel="stylesheet" href="../css/about.css">
  <link rel="shortcut icon" href="favicon.webp">
</head>

<body> 

  <!-- burger menue -->
  <nav class="burger-menu">
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="about.html">About Me</a></li>
      <!--<li><a href="https://drive.google.com/file/d/1xzaUc-eo7QS17YYlX82WIuA7m3hwvx8e/view?usp=sharing">Resume</a></li>-->
      <li><a href="mailto:gbellotti725@gmail.com">Contact</a></li>
    </ul>
  </nav>
  
  <!-- Header section -->
  <header class="header-main">
    <div class="header-main-logo">
      <a href="index.html"><img src="../favicon.webp" alt="logo"></a>
    </div>
    <nav class="header-main-nav">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About Me</a></li>
        <!--<li><a href="https://drive.google.com/file/d/1xzaUc-eo7QS17YYlX82WIuA7m3hwvx8e/view?usp=sharing">Resume</a></li>-->
        <li><a href="mailto:gbellotti725@gmail.com">Contact</a></li>
      </ul>
    </nav>
    <div class="header-main-sm">
      <a target="_blank" href="https://github.com/Grant-Bellotti"><div class="header-main-sm-gh"></div></a>
      <a target="_blank" href="https://www.instagram.com/grant.bellotti/"><div class="header-main-sm-in"></div></a>
      <a target="_blank" href="https://www.linkedin.com/in/grant-bellotti-b9290a238/"><div class="header-main-sm-ln"></div></a>
      <div class="burger-menu-btn"></div>
    </div> 
  </header>

  <!-- Masthead Section -->
  <section class='masthead'>
    <div class="masthead-img"></div>
    <p class='masthead-intro'>Hi I'm</p>
    <p class='masthead-heading'>Grant!</p>
  </section>
 
  <!-- About Me Section -->

  <section class="about-me-section">
    <h1>Introduction</h1>
    <div class="about-me-section-flex">
      <div class="about-me-section-img">
        <img src="../img/about-img/bridge.webp" alt="grant on bridge">
      </div>
      <div class="about-me-section-text">
        <p>Hello! I'm Grant Bellotti, and I'm on a journey to become a software engineer. As a student at the University of California, Santa Cruz, my love for coding and fascination with the natural world have shaped both my academic and personal interests, creating a blend of passions that drive me forward. In this evolving field, I find inspiration in the harmony between code and hardware, and I am excited to explore the endless possibilities that software engineering offers.</p>
        <p>Beyond my academics, I have a deep love for the outdoors. One of my main personal goals is to visit every national park in the United States and travel to some of the world's most iconic places. Through my journey as a software engineer, I hope to find ways to merge the natural world with computer science to ensure a better future.</p>
      </div>
    </div>

    <br><br>

    <div class="about-me-section-flex">
      <div class="about-me-section-text">
        <p>I place a strong emphasis on staying active and healthy, and believe that a balanced mind and body are essential for success in any field, especially computer science. Regular exercise, mindfulness, and a balanced diet and lifestyle between work and personal time are key elements in my weekly routine. As I strive to excel in my studies and career, I am dedicated to maintaining my physical and mental health.</p>
      </div>
      <div class="about-me-section-img">
        <img src="../img/about-img/bike.webp" alt="grant biking">
      </div>
    </div>

    <br><br>

    <div class="about-me-section-flex">
      <div class="about-me-section-img">
        <img src="../img/about-img/food.webp" alt="grant eating food">
      </div>
      <div class="about-me-section-text">
        <p>I love exploring diverse cultures, and one of my favorite ways to do so is through trying new foods, which allows me to immerse myself in the unique flavors, traditions, and stories each culture has to offer. From street markets to fine dining, the exploration of diverse cuisines enhances my understanding and appreciation for the world's history of cultures and traditions.</p>
        <p>Join me as I embark on this journey where the world of code, the beauty of nature, and a commitment to a healthy lifestyle combine into a path of innovation and personal growth.</p>
      </div>
    </div>
  </section>
  
   <!-- Image Section -->

  <section class="about-me-images">
    <p>Places I've Been!</p>
    <div class="img-box">
      <p>Big Sur, CA</p>
    </div>
    <div class="img-box">
      <p>Santa Cruz, CA</p>
    </div>
    <div class="img-box">
      <p>Russian River, CA</p>
    </div> 
    <p></p>
    <a target="_blank" href="https://drive.google.com/drive/folders/1ub0ePApcDnk4EAO5E5ovi5fQKzeErDpZ?usp=sharing">See More!</a>
  </section>

  <!-- Footer section -->

  <footer class="footer-main" id="contact">
    <div class="wrapper-main footer-main-flex">
      <div class="footer-sitemap">
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About Me</a></li>
            <li><a href="mailto:gbellotti725@gmail.com">Contact</a></li>
          </ul>
          <ul>
            <li><a target="_blank" href="https://docs.google.com/spreadsheets/d/1mZoPowiFVJLOJBzlOE2a2va3k7uGlDs8bdrWTVLf9BQ/edit?usp=sharing">Class Plan</a></li>
            <li><a target="_blank" href="https://drive.google.com/file/d/1xzaUc-eo7QS17YYlX82WIuA7m3hwvx8e/view?usp=sharing">Resume</a></li>
            <li><a target="_blank" href="https://github.com/Grant-Bellotti?tab=repositories">Projects</a></li>
          </ul>
          <ul>
            <li>
              <p>If you're interested, please don't hesitate to send me an e-mail to arrange a meeting!</p>
            </li>
          </ul>
          <ul>
            <li><p>Get In Touch:</p></li>
            <li><p><a href="mailto:gbellotti725@gmail.com">gbellotti725@gmail.com</a></p></li>
          </ul>
      </div>
    </div>
  </footer>
 
  <script src="../js/burger.js"></script>

</body> 
</html>
